<section class="page-header">
    <div class="filter"></div>
      <div class="overly"></div> 	
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="conent">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/Y8Tko2YC5hA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

          <div class="col-lg-7">
            <div class="content ">
              
              <h4 class="mb-3">Course Title: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              <div class="row">
                  <div class="col-lg-6">
                    
                    <img src="../../../assets/images/img/joe-gardner-2.jpg" style="width: 40px; height: 40px; border-radius: 50%;" class="float-left profile-avatar" alt="...">
                    <h4 class="mb-3 float-left" style="margin-top: 9px; padding-left: 7px;">The coach</h4>
                  </div>
                  <div class="col-lg-6">
                    <h4 class="mb-3" style="margin-top: 9px; padding-left: 7px;">$59.99</h4>
                  </div>
            </div>
              <a routerLink="/cart" class="btn btn-small btn-main btn-block">Add To Cart</a>
            </div>
          </div>
          
        </div>
      </div>
    </section>