<section class="products-shop section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <form class="mb-5">

                <!-- category -->
                <section class="widget widget-sizes mb-5">
                  <h3 class="widget-title h4 mb-4">Filter By Category</h3>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size1" checked>
                    <label class="custom-control-label" for="size1">Development</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size2">
                    <label class="custom-control-label" for="size2">Business</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size3">
                    <label class="custom-control-label" for="size3">Finance and Accounting</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size4">
                    <label class="custom-control-label" for="size4">IT & Software</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="size5">
                    <label class="custom-control-label" for="size5">Design</label>
                  </div>
                </section>
              
                <button type="button" class="btn btn-black btn-small" style="width: 100%;">Filter</button>
              </form>
              
                   
        </div>
        
        <div class="col-md-9">
            <div class="row">

                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/img/course.jpg
        ">
                        <div class="card-block">
                            <figure class="profile">
                                <img src="../../../assets/images/img/joe-gardner-2.jpg" class="profile-avatar" alt="">
                            </figure>
                            <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a>$12.99</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Duration: 120 min</small>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/img/course2.jpg
        ">
                        <div class="card-block">
                            <figure class="profile">
                                <img src="../../../assets/images/img/joe-gardner-2.jpg" class="profile-avatar" alt="">
                            </figure>
                            <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a>$12.99</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Duration: 120 min</small>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/img/course3.jpg
        ">
                        <div class="card-block">
                            <figure class="profile">
                                <img src="../../../assets/images/img/joe-gardner-2.jpg" class="profile-avatar" alt="">
                            </figure>
                            <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a>$12.99</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Duration: 120 min</small>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/img/course4.jpg
        ">
                        <div class="card-block">
                            <figure class="profile">
                                <img src="../../../assets/images/img/joe-gardner-2.jpg" class="profile-avatar" alt="">
                            </figure>
                            <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a>$12.99</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Duration: 120 min</small>
                           
                        </div>
                    </div>
                </div>
        
            </div>
  </div>
  </div>
  </div>
</section>